body {
    font-family: 'Segoe UI';
    margin:0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
    
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
    
}

    li:last-child {
        border-right: none;
    }

    li a {
        display: block;
        color: #666;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover:not(.active) {
            background-color: #ddd;
        }

.active {
    background-color: #008CBA;
    color:white;
}

.image-demo {
    max-width: 460px;
    width:70%;
}
